.container{
  margin-top: 2rem;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.help-block{
  color: red;
}


#box{
  background-image:linear-gradient(rgba(14, 13, 62, 0.8),
	rgba(5, 3, 46, 0.8)), url(../../assets/pexels-fwstudio-172277.jpg);
  background-size: cover;
  background-attachment: fixed;
  height:70rem;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: -17px;


}


.form-box{
  top: 3rem;
  position: relative;
  color: aliceblue;
  font-size: 25px;
}
.butn{
  padding: 15px 20px;
  font-size:19px;
  font-weight: bold;
  letter-spacing: 1px;
}

input[type=text]{
  background-color: #333;
  padding: 20px;
  color: aliceblue;
  font-size: 20px;
}
input[type=number]{
  background-color: #333;
  padding: 20px;
  color: aliceblue;
  font-size: 20px;
}
input[type=email]{
  background-color: #333;
  padding: 20px;
  color: aliceblue;
  font-size: 20px;
}

