<section id="box">
<div class="container mt-3">

  <form [formGroup]="signupform" class="form-box" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>FirstName</label>
      <input type="text" class="form-control" formControlName="fname"/>
      <span *ngIf="!signupform.get('fname').valid && signupform.touched" class="help-block">Please enter a valid name </span>

    </div>
    <div class="form-group">
      <label>LastName</label>
      <input type="text" class="form-control" formControlName="lname"/>
      <span *ngIf="!signupform.get('lname').valid && signupform.get('lname').touched" class="help-block">Please enter a valid name </span>
    </div>
    <label>Select Gender</label>
    <div class="radio" *ngFor="let gender of genders">

      <label>
        <input type="radio"  style= "height:25px ; width:25px;margin:10px;display: inline-block;color: #333;" formControlName="gender" [value]="gender"/>{{
          gender
        }}
      </label>
    </div>
    <span *ngIf="!signupform.get('gender').valid && signupform.touched" class="help-block">Please select a feild </span>

    <div class="form-group">
      <label>Phone Number</label>
      <input type="number" class="form-control" formControlName="pnumber"/>
      <span *ngIf="!signupform.get('pnumber').valid && signupform.get('pnumber').touched" class="help-block">Please enter a valid phone number </span>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" />
      <span *ngIf="!signupform.get('email').valid && signupform.get('email').touched" class="help-block">Please enter a valid email address </span>
    </div>
    <div class="form-group">
      <label>Account Number</label>
      <input type="number" class="form-control" formControlName="anum" />
      <span *ngIf="!signupform.get('anum').valid && signupform.get('anum').touched" class="help-block">Please enter a valid account number </span>
    </div>
    <div class="form-group">
      <label>Ifsc code</label>
      <input type="text" class="form-control" formControlName="icode" />
      <span *ngIf="!signupform.get('icode').valid && signupform.get('icode').touched" class="help-block">Please enter a valid ifsc code </span>
    </div>

    <button class="btn btn-primary butn">Submit</button>
  </form>
</div>
</section>
