
 <select>
  <option value="Monday">Delhi</option>
  <option value="Tuesday">Pune</option>
  <option value="Wednesday">Gurgaon</option>
  <option value="Thursday">Mumbai</option>

</select>

<div class="row">
  <div class="container">
    <div class="col-md-12">


  <table class="table table-bordered bg-dark text-white text-center mt-5" style="font-size:17px;">
    <tr class="bg-danger">
<th>S.no</th>
<th>city</th>
<th>address</th>
<th>branch</th>
</tr>

<tr *ngFor="let x of data; let c=index">

  <td>{{c+1}}</td>
  <td>{{x.city}}</td>
  <td>{{x.address}}</td>
  <td>{{x.branch}}</td>
</tr>
</table>


    </div>
  </div>
</div>



